form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
textarea { width: fit-content;}

.checkboxdiv {position: relative;top: -275px; right: -400px;}
.submit-cancel {position: relative; right: -400px;}